.container {
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #212121;
  background-image: linear-gradient(180deg, #212121 0%, #000000 100%);
}
.r {
  /* background-color: rgba(0, 0, 0, 0.959); */
  height: 50vh;
  width: 50vw;
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
  align-items: center;
}
.signUp__img {
  height: 85px;
}
.signUp__btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signUp__imgIcon {
  height: 30px;
  margin-right: 0.51rem;
}
.signUp__btn {
  border: none;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.205);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  height: 43px;
  min-width: 46%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.51rem 0.5rem;
}
.signUp__btn:hover {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #3a4fe8 100%);
}
.signUp__orContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signUp__orLine {
  height: 1px;
  width: 100px;
  background-color: rgba(187, 187, 187, 0.452);
  display: inline-block;
}
.signUp__orLineTexts {
  margin: 0.51rem;
}
/*  */
.signUp__inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #525252;
  background-image: linear-gradient(180deg, #525252 0%, #373737 100%);

  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 40px;
  min-width: 250px;
  margin: 0.51rem;
}
.signUp__input {
  border: none;
  background-color: rgba(95, 95, 95, 0);
  width: 100%;
  outline: none;
  color: white;
  padding: 1rem;
}
.signUp__inputIcon {
  margin: 0.51rem;
  color: #45d599;
}
.signUp__btnSignContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: indianred; */
  width: 250px;
}
.demo__btn {
  border: none;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.205);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  min-height: 43px;
  min-width: 250px;
  /* width: 40%; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.51rem;
}
.demo__btn:hover {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #3a4fe8 100%);
}
